@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{margin: 0; padding: 0;}
body{
    font-family: 'Ubuntu', sans-serif;
    
}
section{
    display: flex;
    padding-bottom: 50px;
}
#intro{
    background-image: url(images/bg01.jpg);
    background-repeat: no-repeat;
    background-position: left;
}
.description, .description_img{
    width: 50%;   
}
.description_img img{
    width: 110%
}
#intro h1{
    font-size: 55px;
    line-height: 80px;
}
.color{
    color: orange;
}
p{
    font-size: 20px;
    color: rgb(63, 43, 43);
    padding-top: 30px;
}
.description{
    padding-left: 100px;
    padding-top: 170px;
    padding-right: 30px;
}
.description_img{
    padding-right: 60px;
}
.sub_title{
    width: 80%;
    line-height: 30px;
    padding-bottom: 30px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 40px;
    font-weight: 900;
    border-radius: 10px;
}


#about{
    background-image: url(images/bg02.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
}
#about h1{
    font-size: 50px;
}
.about_desc, .about_img{
    width: 50%;
}
.about_img img{
    width: 120%
}
.sub_title02{
    line-height: 30px;
    padding-bottom: 50px;
}
.about_desc{
    padding-right: 90px;
    padding-left: 100px;
    padding-top: 100px;
}