@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{margin: 0; padding: 0;}
body{
    font-family: 'Ubuntu', sans-serif;
    
}
#intro{
    display: flex;
    padding-bottom: 50px;
}
#intro{
    background-image: url(images/bg01.jpg);
    background-repeat: no-repeat;
    background-position: left;
}
.description, .description_img{
    width: 50%;   
}
.description_img img{
    width: 110%
}
#intro h1{
    font-size: 55px;
    line-height: 80px;
}
.color{
    color: orange;
}
p{
    font-size: 20px;
    color: hsl(0, 11%, 4%);
    padding-top: 30px;
}
.description{
    padding-left: 100px;
    padding-top: 170px;
    padding-right: 30px;
}
.description_img{
    padding-right: 60px;
}
.sub_title{
    width: 80%;
    line-height: 30px;
    padding-bottom: 30px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 40px;
    font-weight: 900;
    border-radius: 10px;
}

#about{
    display: flex;
    padding-bottom: 50px;
}

#about{
    background-image: url(images/bg02.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
}
#about h1{
    font-size: 50px;
}
.about_desc, .about_img{
    width: 50%;
}
.about_img img{
    width: 120%
}
.sub_title02{
    line-height: 30px;
    padding-bottom: 50px;
}
.about_desc{
    padding-right: 90px;
    padding-left: 100px;
    padding-top: 100px;
}


#recepi h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}
#recepi span{
    line-height: 22px;
    font-weight: 500;
    color: rgb(63, 43, 43);
    font-size: 18px;
    padding-bottom: 20px;
}

.new{
    width: 450px;
    text-align: center;
    margin: auto;
}



#items{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    overflow: hidden;
}

.item01{
    width: 25%;
    float: left;
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid;
    border-style: none;
    box-shadow: 5px 0px 20px 0px;
    margin: auto;

}
.item01 img{
    width: 80%;
   
}
.item1{
    text-align: center;
    padding: 20px 0px;
}
.item2{
    padding: 0px 30px;
    padding-bottom: 15px;
}

.footer{
    background: black;
    text-align: center;
    padding: 50px 0px;
}
.footer p{
    color: white;
    font-size: small;
}
.colors{
    color: blanchedalmond;
}